@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

:root {
    --primary-color: #5de0e6;
    --secondary-color: #004aad;
    --shade1: #5dbec6;
}

body {
    margin: 0;
    font-family: 'Anonymous Pro', sans-serif;
}

/* Menu Style */
.topNav {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
    color: white;
}

.brand {
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
}

.navContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--shade6);
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: calc(100% + 10px); 
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.fa-home {
    font-size: larger;
    cursor: pointer;
    color:white;
    font-size: 36px;
}

.fa-cog {
    font-size: larger;
    cursor: pointer;
    margin-left: 900px; 
    color: white;
    font-size: 36px;

}

/* Profile Style */
.profile-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 60%;
    border: 3px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.Name,
.Username,
.Bio {
    margin: 10px 0;
}

.Bio {
    color: #333; 
    background-color: #fff; 
    padding: 10px; 
    border-radius: 5px; 
    border: 1px solid black;
}

button {
    background-color: var(--shade1);
    font-family: 'Jost', sans-serif;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--shade1);
}

/* Modal styles */
.modal {
    display: none; 
    position: fixed; 
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}