<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Profile Page</title>
    <script src="static/js/profile.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css') }}" />
</head>
<body>
    <!--Updated Nav bar-->
    <div class="topNav">
        <div class="navContent">
            <h2>Amicitia</h2>
            <div class="dropdown">
                <i class="fa fa-cog" onclick="toggleDropdown(event)"></i>
                <div class="dropdown-content">
                    <a onclick="redirectToProfilePage()">Profile Settings</a>
                    <a onclick="logout()">Logout</a>
                </div>
            </div>
            <i class="fa fa-home" onclick="redirectToHome()"></i>
        </div>
    </div>
    
    <!-- Profile Section -->
    <div class="profile-container">
        <div class="background-picture">
            <img src="https://img.freepik.com/free-photo/pink-yellow-plain-background_53876-98329.jpg?w=1060&t=st=1710207279~exp=1710207879~hmac=346cae9a0511e8cea7f2869d5b2c07f1101c7a9de40b9bcfa299d7086f51ad0c" alt="Background Picture">
        </div>
        <div class="profile-info">
            <div class="profile-picture">
                <img src="https://i.pinimg.com/originals/31/ce/4e/31ce4ec91de94fc4aa81fbf89b07c430.png" alt="Profile Picture">
            </div>
            <h1 class="Name">Name</h1>
            <h2 class="Username">Username</h2>
            <p class="Bio">Something about me...</p>
            <button id="editProfileBtn">Edit Profile</button>
            <button id="deleteAccountBtn">Delete Account</button>
        </div>
    </div>

    <!-- Modal Popup -->
    <div id="deleteAccountModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Are you sure you want to delete your account?</p>
            <button id="confirmDeleteBtn">Yes, Delete</button>
        </div>
    </div>
</body>
</html>
