<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="static/js/profile.js"></script>
<script>
     function redirectToHome() {
            window.location.href = "{{ url_for('views.home') }}";
        }
        function redirectToProfilePage() {
            window.location.href = "{{ url_for('views.profileuser') }}";
        }
         function redirectToLoad() {
            window.location.href = "{{ url_for('views.load') }}";
        }
</script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/match.css') }}?v=1.1" />

<head>
    <title>match3</title>
    <div class="topNav">
        <div class="navContent">
            <div class="userSection">
                <i class="fa fa-user-circle" onclick="redirectToProfilePage()"></i>
                <span class="username">{{ username }}</span>
                <button style="font-weight: bold;  letter-spacing: 2px;" onclick="redirectToLoad()">Match</button>
            </div>
            <h2 class="brand">Amicitia</h2>
                <div class="navButtons">
                    <navButton class="fa fa-home" onclick="redirectToHomeCommunity()"></navButton>
                    <navButton class="fa fa-power-off" onclick=window.location.href='{{ url_for('auth.logout') }}'></navButton>
                </div>
        </div>
    </div>
</head>
<body>
    <div class="container">
      <div class="card">
        <img src="{{url_for('static',filename='1 de 3 Avatars Flat/Avatars Set Flat Style-15.png')}}" alt="Person" class="card__image">
        <p class="card__name">nicholas</p>
          <div class="grid-child-posts">
            22 | MALE
          </div>
        <div class="Bio">
            <p class="Interests">Tech geek and video game aficionado</p>
        </div>
        <div class="Bio">
            <p>Interests</p>
            <p class="Interests">Tech | Gaming | Anime | Film/TV | Music | Travel | Outdoors | Sports</p>
        </div>




      </div>
      <div class="card">
        <img src="{{url_for('static',filename='1 de 3 Avatars Flat/Avatars Set Flat Style-23.png')}}" alt="Person" class="card__image">
        <p class="card__name">mo3taz</p>
          <div class="grid-child-posts">
            19 | MALE
          </div>
        <div class="Bio">
            <p class="Interests">Foodie and amateur chef exploring culinary adventures</p>
        </div>
        <div class="Bio">
            <p>Interests</p>
            <p class="Interests">Foodie | Cooking | Wine Enthusiast | Coffee Lover | Travel | Outdoors | Hiking | Camping</p>
        </div>

      </div>
      <div class="card">
        <img src="{{url_for('static',filename='1 de 3 Avatars Flat/Avatars Set Flat Style-42.png')}}" alt="Person" class="card__image">
        <p class="card__name">Cindi</p>
        <div class="grid-child-posts">
            21 | FEMALE
          </div>
        <div class="Bio">
            <p class="Interests">Yoga instructor spreading mindfulness and positivity</p>
        </div>
        <div class="Bio">
            <p>Interests</p>
            <p class="Interests">Yoga/Meditation | Outdoors | Hiking | Camping | Travel | Fitness | Wine Enthusiast | Coffee Lover</p>
        </div>
      </div>
      <div class="button-container">
        <button class="circular-button"><i class="fa fa-check"></i></button>
        <button class="circular-button"><i class="fa fa-times"></i></button>
    </div>
    </div>
</body>