<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script>
     function redirectToHome() {
            window.location.href = "{{ url_for('views.home') }}";
        }
        function redirectToProfilePage() {
            window.location.href = "{{ url_for('views.profileuser') }}";
        }
</script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/match.css') }}" />

<head>
    <title>match3</title>
    <div class="topNav">
        <div class="navContent">
            <div class="userSection">
                <i class="fa fa-user-circle" onclick="redirectToProfilePage()"></i>
                <span class="username">{{ username }}</span>
            </div>
            <h2 class="brand">Amicitia</h2>
                <div class="navButtons">
                    <navButton class="fa fa-home" onclick="redirectToHomeCommunity()"></navButton>
                    <navButton class="fa fa-power-off" onclick="logout()"></navButton>
                </div>
        </div>
    </div>
</head>
<body>
    <div class="container">
      <div class="card">
        <img src="{{url_for('static',filename='1 de 3 Avatars Flat/Avatars Set Flat Style-01.png')}}" alt="Person" class="card__image">
        <p class="card__name">rumplestiltskin</p>
        <div class="grid-container">

          <div class="grid-child-posts">
            156 Post
          </div>

          <div class="grid-child-followers">
            1012 Likes
          </div>

        </div>
        <ul class="social-icons">
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-codepen"></i></a></li>
        </ul>
        <button class="btn draw-border">Follow</button>
        <button class="btn draw-border">Message</button>

      </div>
      <div class="card">
        <img src="{{url_for('static',filename='1 de 3 Avatars Flat/Avatars Set Flat Style-46.png')}}" alt="Person" class="card__image">
        <p class="card__name">Ella</p>
        <div class="grid-container">

          <div class="grid-child-posts">
            305 Post
          </div>

          <div class="grid-child-followers">
            2643 Likes
          </div>

        </div>
        <ul class="social-icons">
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-codepen"></i></a></li>
        </ul>
        <button class="btn draw-border">Follow</button>
        <button class="btn draw-border">Message</button>
      </div>
      <div class="card">
        <img src="{{url_for('static',filename='1 de 3 Avatars Flat/Avatars Set Flat Style-34.png')}}" alt="Person" class="card__image">
        <p class="card__name">xOverwatchFanx</p>
        <div class="grid-container">

          <div class="grid-child-posts">
            902 Post
          </div>

          <div class="grid-child-followers">
            1300 Likes
          </div>

        </div>
        <ul class="social-icons">
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-codepen"></i></a></li>
        </ul>
        <button class="btn draw-border">Follow</button>
        <button class="btn draw-border">Message</button>
      </div>
    </div>
</body>