<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script>
     function redirectToHome() {
            window.location.href = "{{ url_for('views.home') }}";
        }
        function redirectToProfilePage() {
            window.location.href = "{{ url_for('views.profileuser') }}";
        }
</script>
<script src="static/js/profile.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/match.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}" />

<head>
    <title>match1</title>
    <div class="topNav">
        <div class="navContent">
            <div class="userSection">
                <i class="fa fa-user-circle" onclick="redirectToProfilePage()"></i>
                <span class="username">{{ username }}</span>
            </div>
            <h2 class="brand">Amicitia</h2>
                <div class="navButtons">
                    <navButton class="fa fa-home" onclick="redirectToHomeCommunity()"></navButton>
                    <navButton class="fa fa-power-off" onclick=window.location.href='{{ url_for('auth.logout') }}'></navButton>
                </div>
        </div>
    </div>
</head>
<body>
    <div class="container">
      <div class="card">
        <img src="https://lh3.googleusercontent.com/ytP9VP86DItizVX2YNA-xTYzV09IS7rh4WexVp7eilIcfHmm74B7odbcwD5DTXmL0PF42i2wnRKSFPBHlmSjCblWHDCD2oD1oaM1CGFcSd48VBKJfsCi4bS170PKxGwji8CPmehwPw=w200-h247-no" alt="Person" class="card__image">
        <p class="card__name">Lily-Grace Colley</p>
        <div class="grid-container">

          <div class="grid-child-posts">
            156 Post
          </div>

          <div class="grid-child-followers">
            1012 Likes
          </div>

        </div>
        <ul class="social-icons">
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-codepen"></i></a></li>
        </ul>
        <button class="btn draw-border">Follow</button>
        <button class="btn draw-border">Message</button>

      </div>
      <div class="card">
        <img src="https://lh3.googleusercontent.com/oUUiPB9sq3ACq4bUaRmo8pgvC4FUpRRrQKcGIBSOsafawZfRpF1vruFeYt6uCfL6wGDQyvOi6Ez9Bpf1Fb7APKjIyVsft7FLGR6QqdRFTiceNQBm1In9aZyrXp33cZi9pUNqjHASdA=s170-no" alt="Person" class="card__image">
        <p class="card__name">Murray Reeve</p>
        <div class="grid-container">

          <div class="grid-child-posts">
            305 Post
          </div>

          <div class="grid-child-followers">
            2643 Likes
          </div>

        </div>
        <ul class="social-icons">
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-codepen"></i></a></li>
        </ul>
        <button class="btn draw-border">Follow</button>
        <button class="btn draw-border">Message</button>
      </div>
      <div class="card">
        <img src="https://lh3.googleusercontent.com/pZwZJ5HIL5iKbA91UGMUIPR0VJWa3K0vOGzDZmY6wU3EJBUdfsby3VEyxU162XxTyOyP3D154tjkr-4Jgcx8lygYUR8eB-jVmld4dsHi1c-mE_A8jKccseAG7bdEwVrcuuk6ciNtSw=s170-no" alt="Person" class="card__image">
        <p class="card__name">Bianca Serrano</p>
        <div class="grid-container">

          <div class="grid-child-posts">
            902 Post
          </div>

          <div class="grid-child-followers">
            1300 Likes
          </div>

        </div>
        <ul class="social-icons">
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-codepen"></i></a></li>
        </ul>
        <button class="btn draw-border">Follow</button>
        <button class="btn draw-border">Message</button>
      </div>
    </div>
</body>