<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Profile Page</title>
    <script src="static/js/profile.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}" />
</head>
<body>
    <!--Updated Nav bar-->
    <div class="topNav">
        <div class="navContent">
            <h2 class="brand">Amicitia</h2>
            <div class="dropdown">
                <i class="fa fa-cog" onclick="toggleDropdown(event)"></i>
                <div class="dropdown-content">
                    <a onclick="redirectToProfilePage()">Profile Settings</a>
                    <a onclick="logout()">Logout</a> <!--redirected to create account page-->
                </div>
            </div>
            <i class="fa fa-home" onclick="redirectToHomeCommunity()"></i>
        </div>
    </div>

    <!-- Profile Section -->
    <div class="profile-container">
        <div class="profile-info">
            <div class="profile-picture">
                <img src="https://cdn.iconscout.com/icon/free/png-256/free-user-1648810-1401302.png?f=webp" alt="Profile Picture">
            </div>
            <h1 class="Name">{{ username }}</h1>
            <h2 class="Username">{{ age }}  |  {{ gender }}</h2>
            <p class="Bio">{{bio}}</p>
            <div class="Bio">
                <p>Interests</p>
                <p class="Interests">Horses | Crystals | Astrology | Fashion | Yoga/Meditation | Cars | Sports | Fitness</p>
            </div>
            <button id="editProfileBtn">Edit Profile</button>
            <button id="deleteAccountBtn">Delete Account</button>
        </div>
    </div>

    <!-- Modal Popup -->
    <div id="deleteAccountModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Are you sure you want to delete your account?</p>
            <button id="confirmDeleteBtn">Yes, Delete</button>
        </div>
    </div>
</body>
</html>
