<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Profile Page</title>
    <script src="{{ url_for('static', filename='css/profile.js') }}">
    </script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}" />
</head>
<body>
    <!--Updated Nav bar-->
    <div class="topNav">
        <div class="navContent">
            <div class="userSection">
                <i class="fa fa-user-circle" onclick="redirectToProfilePage()"></i>
                <span class="username">{{ username }}</span>
                <button style="font-weight: bold;  letter-spacing: 2px;" onclick="redirectToLoad()">Match</button>
            </div>

            <h2 class="brand">Amicitia</h2>
                <div class="navButtons">
                    <navButton class="fa fa-home" onclick="redirectToHome()"></navButton>
                    <navButton class="fa fa-power-off" onclick=window.location.href='{{ url_for('auth.logout') }}'></navButton>
                </div>
        </div>
    </div>

     <!-- Profile Section -->
    <div class="profile-container">
        <div class="profile-info">
            <div class="profile-picture">
                <img src="{{url_for('static',filename='images/usericon.png')}}" alt="">
            </div>
            <h1 class="Name">{{ username }}</h1>
            <h2 class="Username">{{ age }}</h2>
            <p class="Bio">Something about me...</p>
            <button id="editProfileBtn" onclick=window.location.href='{{ url_for('auth.edit') }}'>Edit Profile</button>
            <button id="deleteAccountBtn">Delete Account</button>
        </div>
    </div>

    <!-- Modal Popup -->
    <div id="deleteAccountModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Are you sure you want to delete your account?</p>
            <button id="confirmDeleteBtn">Yes, Delete</button>
        </div>
    </div>
<script>
      function redirectToHome() {
            window.location.href = "{{ url_for('views.events') }}";
        }
</script>
</body>
</html>
